$dark-blue: #293f6f;
$off-white: #fffdf4;
$domine: "Domine", sans-serif;
$raleway: "Raleway", sans-serif;
$xl: 1920px; // Custom size for extra-large screens
$lg: 1281px; // Custom size for large screens
$md: 900px;
$sm: 550px;
/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.accordion {
  // border: 1px solid #ccc;
  // margin-bottom: 10px;
  margin-bottom: 47px;
  @media screen and (min-width: $lg) {
    margin-bottom: 46px;
  }
  @media screen and (min-width: $sm) and (max-width: $lg) {
    margin-bottom: 43px;
  }
  &.top-open {
    // margin-bottom: 25px;
    // transition: margin-bottom 0.05s ease-in;
  }
  .accordion-header {
    font-family: "Interstate-Condensed";
    font-weight: 900;
    font-size: 23px;
    line-height: 35px;
    text-transform: uppercase;
    color: #000;
    padding-top: 47px;
    display: flex !important;
    align-items: center;
    cursor: pointer;
    position: relative;

    display: block;
    .accordion-header-text {
      max-width: 92%;
    }
    @media screen and (min-width: $lg) {
      padding-top: 45px !important;
      font-size: 21px;
      line-height: 25px;
      // padding-top: 30px;
    }
    @media screen and (min-width: $sm) {
      font-size: 21px;
      padding-top: 40px;
      line-height: 25px;
    }
    @media screen and (max-width: $sm) {
      font-size: 20px;
      line-height: 24px;
      // padding-top: 30px;
    }
    .arrow {
      text-decoration: none;
    }

    .arrow {
      // content: "https://tcnj.edu/custom/campaigns/images/plus.svg";
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 20px;
      position: absolute;
      display: flex;
      right: 0;
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='110' height='96' viewBox='0 0 110 96'%3E%3Cpath id='Polygon_1' data-name='Polygon 1' d='M55,0l55,96H0Z'/%3E%3C/svg%3E");
      // background-repeat: no-repeat;
      // background-size: contain;
    }
    &.active {
      .arrow {
        // content: "https://tcnj.edu/custom/campaigns/images/minus.svg";
        // transform: rotate(180deg);
      }
    }
  }
  &#school-scholarships {
    .accordion-header {
      margin: 0;
      margin-top: 50px;
    }
    .accordion-content {
      p {
        padding: 0;
        margin: 0;
      }
      .button-link {
        margin: 25px auto 55px;
      }
    }
  }
  // .accordion-content {
  //   // max-height: 0;
  //   height: 0;
  //   overflow: hidden;
  //   // // transition: max-height 0.3s ease-in-out;
  //   transition: all 0.3s ease-in-out;
  //   // // background-color: #fff;
  //   // padding: 0px;
  //   // padding-left: 20px;
  //   opacity: 0;
  //   &.active {
  //     height: auto;
  //     // padding-bottom: 50px;
  //     opacity: 1;
  //   }
  // }
  .accordion-content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height 0.5s ease-in-out,
      opacity 0.5s ease-in-out;
    ul {
      padding-top: 35px;
      margin-left: 10px;
      @media screen and (min-width: $lg) {
        padding-top: 30px;
      }
      @media screen and (min-width: $md) and (max-width: $lg) {
        padding-top: 23px;
      }
      ul {
        padding-top: 0;
        margin-left: 0;
        :first-child {
          margin-top: 10px;
        }
      }
      li.no-bullet {
        list-style-type: none;
        margin-left: 3px;
        // padding-left: 0;
      }
      :first-child {
        margin-top: 0;
      }
    }
    p,
    li {
      font-size: 19px;
      line-height: 35px;
      padding-top: 35px;
      @media screen and (min-width: $lg) {
        padding-top: 30px;
      }
      @media screen and (min-width: $md) and (max-width: $lg) {
        padding-top: 23px;
      }
      @media screen and (max-width: $sm) {
        font-size: 18px;
        // line-height: 25px;
        line-height: 27px;
        // padding-top: 30px;
      }

      a {
        text-decoration: underline;
        color: #33739f;
        transition: all 0.25s;
        &:hover {
          color: #293f6f;
        }
      }
    }
    li {
      padding-top: 0;
      list-style-type: disc;
      list-style-position: outside;
      margin-left: 20px;
      margin-top: 10px;
    }
    .button-link {
      // text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
    .alignright {
      float: right;
      margin-left: 25px;
      @media screen and (max-width: $sm) {
        float: none;
        margin-bottom: 25px;
        margin-left: 0;
      }
    }
    .alignleft {
      float: left;
      margin-right: 25px;
      @media screen and (max-width: $sm) {
        float: none;
        margin-bottom: 25px;
        margin-right: 0;
      }
    }
    &.active {
      max-height: 2000px; /* Adjust this value to suit your content */
      opacity: 1;
    }
  }
}
