$dark-blue: #293f6f;
$off-white: #fffdf4;
$item-grey: #f1f1f1;
$domine: "Domine", sans-serif;
$raleway: "Raleway", sans-serif;
$xl: 1920px; // Custom size for extra-large screens
$lg: 1250px; // Custom size for large screens
$md: 900px;
$sm: 550px;

.swiper {
  //   h2 {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     font-family: Alfa Slab One, ui-sans-serif, system-ui, -apple-system,
  //       BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  //       "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  //       "Segoe UI Symbol", "Noto Color Emoji";
  //     font-weight: normal;
  //     font-size: 30px;
  //     line-height: 40px;
  //     text-align: left;
  //     color: #293f6f;
  //   }
  .swiper-wrapper {
    padding-top: 70px;
    @media screen and (max-width: $sm) {
      // display: none;
      padding-left: 35px;
      // padding-right: 35px;
      // &::after {
      //   content: "";
      //   display: block;
      //   width: 35px;
      // }
      // width: 70% !important;
    }
  }
  #swiper-navigation {
    position: absolute;
    top: 25px;
    display: flex;
    width: 28px;
    right: 0;
    .swiper-button-prev {
      right: 70px;
      left: unset;
      background: url("/left-arrow.svg") no-repeat center center;
      background-size: contain; /* adjust as needed */
      width: 18px; /* adjust as needed */
      height: 29px; /* adjust as needed */
    }
    .swiper-button-next {
      background: url("/right-arrow.svg") no-repeat center center;
      background-size: contain; /* adjust as needed */
      width: 18px; /* adjust as needed */
      height: 29px; /* adjust as needed */
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      color: black;
      font-size: 0px;
    }
    @media screen and (max-width: $sm) {
      display: none;
    }
  }
  .swiper-slide {
    position: relative;
    transition: all 0.3s;
    &::after {
      transition: all 0.3s;
      content: ""; // This is necessary for pseudo-elements
      opacity: 0;
      pointer-events: none;
    }
    &:hover {
      transition: all 0.3s;
      // box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
      -webkit-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.05);
      box-shadow: 4px 4px 6px -1px rgba(0, 0, 0, 0.05);
      &::after {
        opacity: 1;
        content: ""; // This is necessary for pseudo-elements
        position: absolute;
        top: 20px; /* Position at the vertical center */
        right: 18px; // Adjust this as per your design
        width: 27px; // Adjust width and height as per your design
        height: 27px; // Adjust width and height as per your design
        background-image: url(/yellow-active-arrow.svg);
        background-repeat: no-repeat;
        // transition: all 0.3s;
      }
    }
  }
}
