$dark-blue: #293f6f;
$off-white: #fffdf4;
$item-grey: #f1f1f1;
$domine: "Domine", sans-serif;
$raleway: "Raleway", sans-serif;
$xl: 1920px; // Custom size for extra-large screens
$lg: 1250px; // Custom size for large screens
$md: 900px;
$sm: 550px;

.swiper {
  //   h2 {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     font-family: Alfa Slab One, ui-sans-serif, system-ui, -apple-system,
  //       BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
  //       "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  //       "Segoe UI Symbol", "Noto Color Emoji";
  //     font-weight: normal;
  //     font-size: 30px;
  //     line-height: 40px;
  //     text-align: left;
  //     color: #293f6f;
  //   }
  .swiper-wrapper {
    padding-top: 70px;
    @media screen and (max-width: $sm) {
      // display: none;
      padding-left: 35px;
      // padding-right: 35px;
      // &::after {
      //   content: "";
      //   display: block;
      //   width: 35px;
      // }
      width: calc(100% - 35px);
    }
  }
  #swiper-navigation {
    position: absolute;
    top: 25px;
    display: flex;
    width: 28px;
    right: 0;
    .swiper-button-prev {
      right: 70px;
      left: unset;
      background: url("/left-arrow.svg") no-repeat center center;
      background-size: contain; /* adjust as needed */
      width: 18px; /* adjust as needed */
      height: 29px; /* adjust as needed */
    }
    .swiper-button-next {
      background: url("/right-arrow.svg") no-repeat center center;
      background-size: contain; /* adjust as needed */
      width: 18px; /* adjust as needed */
      height: 29px; /* adjust as needed */
    }
    .swiper-button-prev:after,
    .swiper-button-next:after {
      color: black;
      font-size: 0px;
    }
    @media screen and (max-width: $sm) {
      display: none;
    }
  }
  // .swiper-slide {
  //   @media screen and (max-width: $sm) {
  //     width: 300px !important;
  //   }
  // }
}
