$dark-blue: #293f6f;
$off-white: #fffdf4;

$raleway: "Raleway", sans-serif;
$xl: 1920px; // Custom size for extra-large screens
$lg: 1250px; // Custom size for large screens
$md: 900px;
$sm-md: 750px;
$sm: 550px;

$tablet-media-query: 850px;
$mobile-media-query: 650px;

$dark-tcnj-blue: #293f6f;
$tcnj-blue: #293f6f;
$tcnj-grey: #f1f1f1;

$light-tcnj-blue: #9bd0f3;
$tcnj-dark-grey: #d9d9d9;
$tcnj-yellow: #fdd700;
$border-color: #bcbcbc;
$link-blue: #33739f;
$light-tcnj-grey: #7684a3;
$alfa-slab: var(--font-alfaslab);
$open-sans: var(--font-opensans);
$bitter: var(--font-domine);
$domine: var(--font-domine);

.global-footer-2022 {
  background-color: $dark-tcnj-blue;
  width: 100%;
  padding: 60px 0;
  @media screen and (max-width: $md) {
    padding: 100px 0;
  }
  @media screen and (max-width: $sm) {
    padding: 75px 0;
  }
  .inner-width {
    max-width: 1128px;

    margin: 0 auto;
    width: 100%;
    @media screen and (max-width: $sm-md) {
      width: 90%;
    }
  }
  .bottom-container {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: $lg) {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
      gap: 15px;
    }
  }
  .alignleft {
    // float: left;
    .copyright {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $lg) {
        justify-content: center;
      }
    }
  }
  .alignright {
    .socialicons {
      display: flex;
      // margin-top: 27px;
      gap: 10px;
    }
  }
  #footer-hr {
    background-color: white;
    border-top: 1px solid white;
    height: 1px;
    margin: 20px 0px;
    clear: both;
    opacity: 20%;
    @media screen and (min-width: $lg) {
      margin-top: 70px;
    }
    @media screen and (max-width: $lg) {
      margin: 40px 0px 10px;
      max-width: 750px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (max-width: $md) {
      margin: 75px auto 0px;
    }
    @media screen and (max-width: $sm) {
      margin-top: 75px;
      margin-bottom: 0;
      max-width: 375px;
    }
  }
  .grid-wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    align-items: start;
    @media screen and (max-width: $lg) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px 12.5%;
      justify-content: center;
    }
    @media screen and (max-width: $md) {
      gap: 75px 8.5%;
    }
    #logo-container {
      width: 400px;
      @media screen and (max-width: $lg) {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }
    ul {
      padding: 0;
      margin-top: 0;
    }
    li {
      list-style: none;
      line-height: 20px;
      padding-left: 0;
      padding: 0;
      a {
        @media screen and (max-width: $md) {
          font-size: 16px;
        }
      }
    }
    h2 {
      // margin-bottom: 0;
    }
  }
  .copyright {
    width: 940px;
    @media screen and (max-width: $lg) {
      margin-top: 25px;
      margin-bottom: 0;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      gap: 5px 10px;
    }
    @media screen and (max-width: $md) {
      margin-top: 16px;
    }
  }
  .footer-logo {
    &.no-tablet {
      max-width: 290px;
      width: 100%;
      display: block;

      @media screen and (min-width: $sm-md) {
        display: none;
      }
      @media screen and (min-width: $lg) {
        display: block;
        width: 100%;
        // max-width: 550px;
      }
    }
    &.tablet-only {
      display: none;
      @media screen and (max-width: $md) {
        width: 100%;
        max-width: 550px;
      }
      @media screen and (min-width: $sm-md) {
        display: block;
      }
      @media screen and (min-width: $lg) {
        display: none;
      }
    }
  }
  .one-third {
    @media screen and (max-width: $sm-md) {
      display: none;
    }
  }
  a {
    color: white;
    font-size: 14px;
    line-height: 26px;
    &:hover {
      // text-decoration: none;
      color: #9ccff0;
    }
  }
  h2 {
    color: $light-tcnj-blue;
    font-size: 15px;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
    @media screen and (max-width: $md) {
      font-size: 16px;
    }
  }

  a,
  h2,
  span {
    font-family: $open-sans;
    text-decoration: none;
  }
  #unit {
    font-weight: normal;
    font-size: 14px;
    // line-height: 42.21px;
    text-align: center;
    color: #9bd0f3;
    // margin: 20px;
    @media screen and (max-width: $lg) {
      flex: 100%;
    }
    @media screen and (max-width: $lg) {
      padding-top: 25px;
      padding-bottom: 25px;
    }
    @media screen and (max-width: $md) {
      padding-top: 15px;
      padding-bottom: 10px;
    }
  }
}
