$alfa-slab: var(--font-alfaslab);
$open-sans: var(--font-opensans);
$bitter: var(--font-domine);
$domine: var(--font-domine);
$yellow: #fdd700;
body {
  margin: 0;
}
.inner-width {
  max-width: 1128px;
  margin: 0 auto;
}
header {
  position: relative;
  padding-top: 65px;
  background-image: url(https://graduate.tcnj.edu/explore-programs/img/program-finder-hero.jpg);
  background-position-x: 50%;
  background-size: cover;
  padding-bottom: 75px;
  #intro {
    position: relative;
    z-index: 50;
  }
  .overlay {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.35;
    margin-top: -65px;
    pointer-events: none;
    top: 0;
  }
  h1 {
    font-family: $alfa-slab;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    text-align: left;
    margin-bottom: 18px;
    margin-top: 90px;
    color: #fdd700;
  }
  p {
    font-family: $domine;
    font-weight: 400;
    font-size: 23px;
    line-height: 40px;
    text-align: left;
    color: #fff;
    text-decoration: none;
  }
}
.program-wrapper {
  display: grid;
  grid-gap: 40px 3.5%;
  gap: 40px 3.5%;
  grid-template-columns: 31% 31% 31%;
  list-style: none;
  .program-card {
    border: 1px solid #bcbcbc;
    background-color: #fff;
    padding: 0;
    min-height: 248px;
    position: relative;
    transition: all 0.25s;
    pointer-events: none;
    &:hover {
      filter: drop-shadow(3px 8px 4px rgba(0, 0, 0, 0.15));
    }
    .program-link {
      pointer-events: all;
      font-family: $domine;
      font-weight: 700;
      font-size: 21px;
      line-height: 30px;
      text-align: left;
      color: #2e2e2e;
      text-decoration: none;
      padding: 50px 50px 0;
      display: block;
      height: calc(100% - 50px);
      p {
        margin-top: 0;
      }
      hr {
        pointer-events: none;
        display: block;
        border: 0;
        border-top: 1px solid #d3d3d3;
        margin: 25px 0;
      }
      .icon-container {
        pointer-events: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        grid-gap: 10px 20px;
        gap: 10px 20px;
        margin-bottom: 50px;
        p {
          margin: 0;
          grid-gap: 5px;
          gap: 5px;
          display: flex;
          align-items: center;
          pointer-events: none;
          font-family: $open-sans;
          font-weight: 400;
          font-size: 14px;
          line-height: 25px;
          text-align: left;
          color: #2e2e2e;
        }
      }
    }
  }
}
