$domine: "Domine", sans-serif;
$open-sans: "Open Sans", sans-serif;

// #careers-body {
//   p {
//     font-family: "Bitter";
//     font-weight: normal;
//     font-size: 23px;
//     line-height: 45px;
//     text-align: left;
//     color: #000;
//   }
//   padding-bottom: 100px;
// }
$xl: 1920px; // Custom size for extra-large screens
$lg: 1281px; // Custom size for large screens
$md: 900px;
$sm: 550px;

// Define the height values you want available (the key is used in the class name)
$height-values: (
  5: 5px,
  8: 8px,
  10: 10px,
  15: 15px,
);

// Loop over the map to generate utility classes
@each $key, $value in $height-values {
  .h-#{$key}-md {
    @media (min-width: $md) and (max-width: $lg) {
      height: $value;
    }
  }
  .h-#{$key}-md-lg {
    @media (min-width: $md) and (min-width: $xl) {
      height: $value;
    }
  }
  .h-#{$key}-md-up {
    @media (min-width: $md) {
      height: $value;
    }
  }
}

.yellow-body-copy {
  p {
    a {
      text-decoration: underline;
      color: #33739f;
    }
  }
}
#hero-img {
  @media screen and (min-width: 1281px) and (max-width: 1375px) {
    // width: 54%;
    padding-left: 50px;
  }
  @media screen and (min-width: 1176px) and (max-width: 1280px) {
    padding-left: 125px;
  }
}
#prog-study-img,
#prog-study-bg {
  width: calc(100% + 35px);

  @media screen and (min-width: $lg) {
    width: 51%;
    max-width: 1335px;
  }
  @media screen and (min-width: 1050px) and (max-width: $lg) {
    width: 55%;
    max-width: 623px;
  }
  @media screen and (min-width: $md) and (max-width: 1050px) {
    width: 60%;
    // width: 46%;
  }
  @media screen and (min-width: $sm) and (max-width: $md) {
    // width: calc(100% + 82px);
    width: calc(100% + 80px);
  }
}
.inner-body-copy-white {
  #programs-of-study-left,
  #programs-of-study-body {
    h3 {
      font-family: "Interstate-Condensed";
      font-weight: 900;
      font-size: 23px;
      line-height: 35px;
      text-align: left;
      color: #000;
      text-transform: uppercase;
      padding-bottom: 10px;
      padding-top: 40px;

      padding-top: 27px;
      @media screen and (min-width: $md) {
        padding-top: 35px;
      }
      @media screen and (max-width: $md) {
        padding-top: 34px;
      }

      @media screen and (min-width: $lg) {
        // padding-bottom: 0;
        font-size: 21px;
        line-height: 25px;
        padding-bottom: 8px;
        padding-top: 35px;
      }
      @media screen and (min-width: $md) and (max-width: $lg) {
        // padding-top: 45px;
        padding-top: 36px;
      }
      @media screen and (min-width: $sm) {
        font-size: 21px;
        line-height: 25px;
        padding-bottom: 7px;
      }
      @media screen and (max-width: $sm) {
        padding-top: 40px;
        padding-bottom: 9px;
        font-size: 20px;
        line-height: 24px;
      }
      + p.more-spacing {
        // Your specific styles for the first p.more-spacing after h3
        // For example:
        // padding-top: 200px;
        padding-top: 5px;

        @media screen and (min-width: $md) {
          // padding-top: 100px;
          padding-top: 4px;
        }
        @media screen and (min-width: $lg) {
          padding-top: 4px;
        }
      }
    }
    h2 {
      font-family: "Alfa Slab One";
      font-weight: normal;

      font-size: 30px;
      line-height: 40px;
      text-align: left;
      color: #293f6f;
      // padding-bottom: 25px;
      @media screen and (max-width: $md) {
      }
      line-height: 41px;
      @media screen and (max-width: $sm) {
        font-size: 23px;
        line-height: 28px;
        padding-bottom: 0px;
      }
      + p.large-para {
        // Your specific styles for the first p.more-spacing after h3
        // For example:
        // padding-top: 200px;
        padding-top: 12px;
        @media screen and (min-width: $md) {
          padding-top: 10px;
        }
        @media screen and (min-width: $lg) {
          padding-top: 10px;
        }
      }
    }
    p.more-spacing {
      + h3 {
        // Your specific styles for h3 following p.more-spacing
        // For example:
        padding-top: 40px;

        @media screen and (min-width: $md) {
          padding-top: 200px;
          padding-top: 44px;
        }
        @media screen and (min-width: $lg) {
          padding-top: 41px;
        }
      }
      display: block;
      padding-top: 17px;
      @media screen and (min-width: $md) {
        padding-top: 13px;
      }
      @media screen and (min-width: $lg) {
        padding-top: 13.85px;
      }
      @media screen and (min-width: $sm) and (max-width: $md) {
        padding-top: 14px;
      }
      &:last-of-type em {
        // Your styles for the em in the last p.more-spacing
        // color: red; // Just an example
        padding-bottom: 0px;
        margin-bottom: 0;
      }
    }
    p.large-para {
      + p.more-spacing {
        // Your specific styles for p.more-spacing following p.large-para
        // For example:
        padding-top: 500px;
        padding-top: 25px;
        @media screen and (min-width: $sm) {
          padding-top: 35px;
        }
        @media screen and (min-width: $md) {
          padding-top: 34px;
          // padding-top: 200px;
        }
        @media screen and (min-width: $lg) {
          padding-top: 36px;
        }
      }
      font-size: 19px;
      line-height: 30px;
      // margin-top: -15px;
      //  negative margin
      padding-top: 13px;
      font-family: $domine;
      // padding-top: 10px;
      @media screen and (min-width: $sm) {
        padding-top: 15px;
      }
      @media screen and (min-width: $md) {
        margin-top: 3px;
        padding-top: 12px;
      }
    }
    p {
      margin: 0;
      font-size: 19px;
      line-height: 21px;
      @media screen and (min-width: $md) {
        font-size: 19px;
        line-height: 22px;
        padding-top: 1px;
      }
      @media screen and (min-width: $lg) {
        padding-top: 0;
      }

      em {
        font-family: $open-sans;
        font-size: 17px;
        line-height: 26px;
        padding-top: 4px;
        display: block;
        // padding-bottom: 19px;
        margin-bottom: 0px;
        @media screen and (min-width: $sm) {
          margin-bottom: 5px;
        }
        @media screen and (min-width: $md) {
          margin-bottom: 7px;
        }
        @media screen and (min-width: $lg) {
          padding-top: 0px;
          line-height: 26px;
          padding-bottom: 0px;
          margin-bottom: 5px;
        }
      }
      &:has(+ p, h2, h3) {
        em {
          padding-bottom: 0px;
          @media screen and (min-width: $lg) {
          }
        }
      }
      // No Marging em with h2 or h3 after
      &:has(em):has(+ h2),
      &:has(em):has(+ h3) {
        em {
          // Special styling for em in paragraphs before headings
          margin-bottom: 0; // Example - adjust as needed

          @media screen and (min-width: $lg) {
            margin-bottom: 0; // Example - adjust as needed
          }
        }
      }
      a {
        line-height: 25px;
        &.more-spacing {
          display: block;
          padding-top: 17px;
          @media screen and (min-width: $lg) {
            padding-top: 15px;
          }
        }
      }
    }
  }
  #programs-of-study-left {
    h2:nth-of-type(2) {
      @media screen and (max-width: $sm) {
        padding-bottom: 24px;
      }
      @media screen and (max-width: $md) {
        padding-bottom: 22px;
      }
      padding-top: 46px;
      @media screen and (min-width: $sm) {
        padding-top: 82px;
      }
    }
  }
  #programs-of-study-body {
    h2 {
      @media screen and (max-width: $sm) {
        padding-bottom: 24px;
      }
      @media screen and (max-width: $md) {
        padding-bottom: 0px;
      }
      &:first-of-type {
        // padding-top: 46px;
        padding-top: 69px;
        @media screen and (min-width: $sm) {
          padding-top: 82px;
        }
      }
      &:last-of-type {
        // Styles for the last h2 instance
        padding-top: 69px;
        @media screen and (min-width: $sm) {
          padding-top: 82px;
        }
      }
    }
  }
  h2,
  h3 {
    &.split-line-laptop {
      @media screen and (min-width: $lg) {
        max-width: 50%;
      }
    }
    &.split-line-tablet {
      @media screen and (min-width: $md) {
        max-width: 50%;
      }
    }
  }
  span {
    &.split-line-laptop {
      @media screen and (min-width: $lg) {
        max-width: 50%;
        display: block;
      }
    }
    &.split-line-tablet {
      @media screen and (min-width: $md) {
        max-width: 50%;
        display: block;
      }
    }
  }
  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    &.more-spacing {
      display: block;
      padding-top: 17px;
      @media screen and (min-width: $lg) {
        padding-top: 15px;
      }
    }
    @media screen and (min-width: $md) {
      font-size: 19px;
      line-height: 22px;
    }
    @media screen and (max-width: $sm) {
      // text-align: center;
      font-size: 18px;
      line-height: 21px;
    }
    a {
      text-decoration: underline;
      color: #33739f;
      transition: all 0.25s;
      &:hover {
        color: #293f6f;
      }
    }
    &.split-line-laptop {
      @media screen and (min-width: $lg) {
        max-width: 50%;
      }
    }
    &.split-line-tablet {
      @media screen and (min-width: $md) {
        max-width: 50%;
      }
    }
  }
  // .split-list-top {
  //   padding-top: 69px;
  //   @media screen and (min-width: $sm) {
  //     padding-top: 92px;
  //   }
  //   h2 {
  //     @media screen and (max-width: $sm) {
  //       padding-bottom: 24px !important;
  //     }
  //     @media screen and (max-width: $md) {
  //       padding-bottom: 22px !important;
  //     }
  //   }
  //   ul {
  //     li {
  //       padding-bottom: 19px;
  //       @media screen and (max-width: $md) {
  //         &:last-of-type {
  //           padding-bottom: 19px !important;
  //         }
  //       }
  //     }
  //   }
  // }
  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px;
    @media screen and (min-width: $md) {
      padding-top: 20px;
    }
    @media screen and (max-width: $md) {
      padding-top: 25px;
    }
    li {
      font-family: $domine;
      font-weight: normal;
      font-size: 19px;
      line-height: 30px;
      text-align: left;
      color: #000;
      padding-bottom: 19px;
      a {
        text-decoration: underline;
        color: #33739f;
        transition: all 0.25s;
        &:hover {
          color: #293f6f;
        }
      }
      &:last-of-type {
        padding-bottom: 0 !important;
      }

      @media screen and (min-width: $md) {
        line-height: 30px;
        padding-bottom: 15px !important;
        font-size: 19px;
      }

      @media screen and (min-width: $sm) and (max-width: $md) {
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 20px;
      }
      @media screen and (max-width: $sm) {
        font-size: 18px;
        // line-height: 23px;
        padding-bottom: 15px;
        line-height: 25px;
      }
      &.split-line-laptop {
        @media screen and (min-width: $lg) {
          max-width: 50%;
        }
      }
      &.split-line-tablet {
        @media screen and (min-width: $md) {
          max-width: 50%;
        }
      }
    }
  }
  #careers-right,
  #careers-left,
  #teaching-careers-left,
  #teaching-careers-right {
    width: 100%;
    h3,
    li {
      @media screen and (max-width: $sm) {
        text-align: center;
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding-top: 19px;
      @media screen and (min-width: $lg) {
        padding-top: 16px;
      }
    }
    h3 {
      font-family: "Interstate-Condensed";
      font-weight: 900;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;
      color: #000;
      padding-top: 45px;
      @media screen and (min-width: $sm) {
        font-size: 21px;
        padding-top: 0px;
      }
      // padding-top: 17px;
    }
    li {
      font-size: 18px;
      line-height: 25px;
      padding-bottom: 15px;
      @media screen and (min-width: $lg) {
        line-height: 23px;
      }
      @media screen and (min-width: $sm) {
        padding-bottom: 18px;
      }
    }
  }
  #careers-right {
    h3 {
      padding-top: 37px;
      @media screen and (min-width: $sm) {
        padding-top: 0px;
      }
    }
  }
}
