// #careers-body {
//   p {
//     font-family: "Bitter";
//     font-weight: normal;
//     font-size: 23px;
//     line-height: 45px;
//     text-align: left;
//     color: #000;
//   }
//   padding-bottom: 100px;
// }
$xl: 1920px; // Custom size for extra-large screens
$lg: 1250px; // Custom size for large screens
$md: 900px;
$sm: 550px;
#hero-img {
  @media screen and (min-width: 1250px) and (max-width: 1375px) {
    // width: 54%;
    padding-left: 50px;
  }
}
#prog-study-img,
#prog-study-bg {
  width: calc(100% + 35px);

  @media screen and (min-width: $lg) {
    width: 57.5%;
    max-width: 1335px;
  }
  @media screen and (min-width: 1050px) and (max-width: $lg) {
    width: 60%;
  }
  @media screen and (min-width: $md) and (max-width: 1050px) {
    width: 60%;
    // width: 46%;
  }
  @media screen and (min-width: $sm) and (max-width: $md) {
    width: calc(100% + 82px);
  }
}
.inner-body-copy-white {
  #careers-left,
  #careers-right {
    width: 100%;
  }
  #programs-of-study-left,
  #programs-of-study-body {
    h3 {
      font-family: "Interstate-Condensed";
      font-weight: 900;
      font-size: 23px;
      line-height: 35px;
      text-align: left;
      color: #000;
      text-transform: uppercase;
      padding-bottom: 10px;
      padding-top: 40px;
      &:first-of-type {
        padding-top: 27px;
        @media screen and (max-width: $md) {
          padding-top: 26px;
        }
      }
      @media screen and (max-width: $md) {
        padding-bottom: 0;
        font-size: 21px;
        line-height: 25px;
        padding-bottom: 8px;
      }
      @media screen and (max-width: $sm) {
        padding-top: 40px;
        padding-bottom: 9px;
        font-size: 20px;
        line-height: 24px;
      }
    }
    h2 {
      font-family: "Alfa Slab One";
      font-weight: normal;

      font-size: 30px;
      line-height: 40px;
      text-align: left;
      color: #293f6f;
      // padding-bottom: 25px;
      @media screen and (max-width: $md) {
      }
      line-height: 41px;
      @media screen and (max-width: $sm) {
        font-size: 23px;
        line-height: 31px;
        padding-bottom: 0px;
      }
    }
    p {
      margin: 0;
      font-size: 18px;
      line-height: 21px;
    }
  }
  #programs-of-study-body {
    h2 {
      @media screen and (max-width: $sm) {
        padding-bottom: 24px;
      }
      @media screen and (max-width: $md) {
        padding-bottom: 22px;
      }
    }
  }
  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: left;
    @media screen and (max-width: $sm) {
      // text-align: center;
      font-size: 18px;
      line-height: 21px;
    }
    a {
      text-decoration: underline;
      color: #33739f;
    }
  }
  ul {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 20px;
    li {
      font-weight: normal;
      font-size: 19px;
      line-height: 30px;
      text-align: left;
      color: #000;
      padding-bottom: 19px;
      &:last-of-type {
        padding-bottom: 0 !important;
      }
      @media screen and (min-width: $md) {
        padding-bottom: 15px;
        // padding-bottom: 0;
      }
      @media screen and (max-width: $sm) {
        font-size: 18px;
        line-height: 23px;
      }
    }
  }
  #careers-right,
  #careers-left {
    h3,
    p {
      @media screen and (max-width: $sm) {
        text-align: center;
      }
    }
    p {
      font-size: 18px;
      line-height: 40px;
    }
  }
}
