// .popup-detail {
//   :before {
//     content: "";
//     display: block;
//     position: absolute;
//     bottom: 100%;
//     width: 0;
//     height: 0;
//     border-style: solid;
//     left: calc(50% - 10px);
//     border-color: transparent #fff transparent transparent;
//     border-width: 11px;
//     z-index: 100;
//     // content: "";
//     // display: block;
//     // position: absolute;
//     // right: 100%;
//     // width: 0;
//     // height: 0;
//     // border-style: solid;
//     // top: calc(50% - 10px);
//     // border-color: transparent #fff transparent transparent;
//     // border-width: 11px;
//     // z-index: 100;
//   }
// }

.popup-detail {
  // position: relative; // make sure the parent is the positioning context
  a {
    color: #33739f;
    text-decoration: underline;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 100%; // place it above the box
    left: 50%; // center it
    transform: translateX(-50%);
    width: 0;
    height: 0;

    // border widths: top 0, right 11px, bottom 11px, left 11px
    border-width: 0 11px 11px 11px;
    border-style: solid;

    // only bottom border is white; the others are transparent
    border-color: transparent transparent #fff transparent;

    z-index: 100;
  }
}
.detail-listing-text {
  &.has-popup-tag {
    // text-decoration: underline;
    cursor: pointer;
    position: relative;
    :hover {
      text-decoration: underline;
      .popup-tag {
        text-decoration: underline;
      }
    }
    // span {
    //   text-decoration: underline;
    // }
  }
  // p:has(.popup-tag) {
  //   text-decoration: underline;
  //   cursor: pointer;
  // }
  p {
    span {
      font-size: 16px;
      line-height: 20px;
      display: inline-block;
      padding-top: 6px;
    }
    span.popup-tag {
      font-size: inherit;
      line-height: inherit;
      display: inline-block;
      padding: inherit;
    }

    span.popup-tag {
      font-size: 0;
      display: inline-block;
      width: 15px;
      height: 15px;
      position: absolute;
      right: -20px;
      &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url("/info-icon-black.svg") no-repeat center/contain;
      }
    }
  }
}
