.hovered-item {
  transition: all 0.3s;
  padding-top: 1000px;
  &::after {
    content: ""; // This is necessary for pseudo-elements
    position: absolute;
    top: 20px; /* Position at the vertical center */
    right: 18px; // Adjust this as per your design
    width: 27px; // Adjust width and height as per your design
    height: 27px; // Adjust width and height as per your design
    background-image: url(/yellow-active-arrow.svg);
    background-repeat: no-repeat;
    // transition: all 0.3s;
  }
}
