$dark-blue: #293f6f;
$off-white: #fffdf4;
$item-grey: #f1f1f1;
$domine: "Domine", sans-serif;
$raleway: "Raleway", sans-serif;
$open-sans: "Open Sans", sans-serif;
$xl: 1920px; // Custom size for extra-large screens
$lg: 1250px; // Custom size for large screens
$md: 900px;
$sm: 550px;
p {
  a {
    transition: all 0.3s;
    &:hover {
      color: $dark-blue;
    }
  }
}
#programs-of-study-left {
  p {
    font-size: 19px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  h3 {
    padding-top: 40px;
    &:first-child {
      padding-top: 0px;
    }
  }
}

#careers-body {
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.inner-body-copy-white {
  #careers-left,
  #careers-right {
    p {
      font-size: 18px;
      line-height: 25px;
      margin-bottom: 15px;
      margin-top: 5px;
      &:first-child {
        margin-top: 0;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
#careers-intro {
  ul {
    list-style-type: disc;
    list-style-position: inside;
    margin-left: 15px;
    margin-bottom: 15px;
    @media screen and (max-width: $sm) {
      margin-top: 15px;
    }
    li {
      font-weight: normal;
      // font-size: 19px;
      // line-height: 30px;
      text-align: left;
      // color: #000;
      padding-bottom: 10px;
      &:last-of-type {
        padding-bottom: 0 !important;
      }
      @media screen and (min-width: $md) {
        padding-bottom: 15px;
        padding-bottom: 0;
      }
      @media screen and (max-width: $sm) {
        // font-size: 18px;
        // line-height: 25px;
        line-height: 30px;
        text-align: center;
      }
    }
  }
  p {
    margin-top: 15px;
    &:first-child {
      margin-top: 0;
    }
  }
}
.edu-mm-content-wrapper {
  .mauticform-label {
    font-size: 17px;
    line-height: 28px;
    font-family: $domine;
  }
  .edu-mm-header {
    @media screen and (min-width: $md) {
      float: right;
    }
  }
  .mauticform-button {
    font-size: 18px;
    background-color: rgb(234 179 8 / var(--tw-bg-opacity, 1));
    line-height: 25px;
    font-family: $open-sans;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 25px;
  }
  input {
    border-color: rgb(188, 188, 188, var(--tw-border-opacity, 1));
    border-width: 1px;
    background-color: #fff;
    width: 500px;
    padding: 4px;
    @media screen and (max-width: $md) {
      width: 100%;
    }
  }
}
