---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import ProgramList from "../components/ProgramList";
import "../styles/homepage.scss";
const data = await wpquery({
  query: ` query ProgramsListing {
              programs {
                nodes {
                  program {
                    degreeType
                    slug
                    school
                    programOptions
                    additionalOptions
                    programAtAGlance
                    learnMoreList {
                      title
                      slug
                    }
                  }
                  title
                }
              }
            }`,
});
console.log(data);
console.log(JSON.stringify(data.programs.nodes, null, 2)); // Log the entire list
---

<!-- 
query NewQuery {
  programs {
    nodes {
      programId
      slug
	  title
    }
  }
} -->
<Layout title="Undergraduate Programs at TCNJ">
  <main>
    <p>Testing one two three</p>
    <ProgramList data={data} client:load />
  </main>
</Layout>
