---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import Intro from "../components/Intro.astro";
import TitleAndNav from "../components/TitleAndNav";
import ProgramList from "../components/ProgramList";
// import "../styles/homepage.scss";
const data = await wpquery({
  query: ` query ProgramsListing {
              programs {
                nodes {
                  program {
                    degreeType
                    slug
                    school
                    programOptions
                    additionalOptions
                    programAtAGlance
                    learnMoreList {
                      title
                      slug
                    }
                  }
                  title
                }
              }
            }`,
});
const programOptions = await wpquery({
  query: ` query FullOptionsListing {
  page(id: "249", idType: DATABASE_ID) {
    program {
      additionalOptions
      programOptions
      school
    }
  }
}`,
});
// console.log(programOptions);
// console.log(data.programs.program);
// console.log(JSON.stringify(data.programs.nodes, null, 2)); // Log the entire list
// console.log(JSON.stringify(programOptions.page.program, null, 2)); // Log the entire list

const areaOfStudy = programOptions.page.program.school;
// console.log(areaOfStudy);
const programOptionsClean = programOptions.page.program.programOptions;
// console.log(programOptionsClean);
const additionalOptions = programOptions.page.program.additionalOptions;
// console.log(additionalOptions);
---

<Layout title="Undergraduate Programs at TCNJ">
  <header>
    <TitleAndNav />
    <Intro />
  </header>
  <main>
    <div class="yellow-border">
      <ProgramList
        data={data}
        areaOfStudy={areaOfStudy}
        programOptionsClean={programOptionsClean}
        additionalOptions={additionalOptions}
        client:load
      />
    </div>
  </main>
</Layout>
