---
import Layout from "../layouts/Layout.astro";
import { wpquery } from "../data/wordpress";
import TitleAndNav from "../components/TitleAndNav";
import ProgramList from "../components/ProgramList";
import NextStepFooter from "../components/NextStepFooter";
import "@fontsource/domine/400.css";
import "@fontsource/domine/500.css";
import "@fontsource/domine/600.css";
import "@fontsource/domine/700.css";
import IntroSection from "../components/IntroSection";
// import "../styles/homepage.scss";
const data = await wpquery({
  query: ` query ProgramsListing {
              programs(first:80) {
                nodes {
                  program {
                    degreeType
                    slug
                    school
                    programOptions
                    additionalOptions
                    programAtAGlance
                    learnMoreList {
                      title
                      slug
                    }
                  }
                  title
                }
              }
            }`,
});
const programOptions = await wpquery({
  query: ` query FullOptionsListing {
  page(id: "249", idType: DATABASE_ID) {
    program {
      additionalOptions
      programOptions
      school
    }
  }
}`,
});
// console.log(programOptions);
// console.log(data.programs.program);
// console.log(JSON.stringify(data.programs.nodes, null, 2)); // Log the entire list
// console.log(JSON.stringify(programOptions.page.program, null, 2)); // Log the entire list

const areaOfStudy = programOptions.page.program.school;
// console.log(areaOfStudy);
const programOptionsClean = programOptions.page.program.programOptions;
// console.log(programOptionsClean);
const additionalOptions = programOptions.page.program.additionalOptions;
// console.log(additionalOptions);
---

<Layout title="Undergraduate Programs at TCNJ">
  <header>
    <TitleAndNav />
    <IntroSection client:load />
    <!-- <Intro /> -->
  </header>
  <main>
    <div
      class="border-[20px] sm:border-[35px] border-t-0 sm:border-t-0 border-tcnjyellow"
    >
      <ProgramList
        data={data}
        areaOfStudy={areaOfStudy}
        programOptionsClean={programOptionsClean}
        additionalOptions={additionalOptions}
        client:load
      />
    </div>
    <NextStepFooter />
  </main>
</Layout>
