---
import Layout from "../layouts/Layout.astro";
// import { wpquery } from "../data/wordpress";
import ProgramList from "../components/ProgramList";
// const data = await wpquery({
//   query: `query NewQuery {
//   programs {
// 	nodes {
// 	  programId
// 	  slug
// 	  title
// 	}
//   }
// }`,
// });
// console.log(data);
// console.log(JSON.stringify(data.programs.nodes, null, 2)); // Log the entire list
---

<!-- 
query NewQuery {
  programs {
    nodes {
      programId
      slug
	  title
    }
  }
} -->
<Layout title="Undergraduate Programs at TCNJ">
  <main>
    <p>Testing one two three</p>
    <ProgramList client:load />
  </main>
</Layout>

<script>
  console.log("hello world");
  //   console.log(data);
</script>
