---
import ProgramCareersHeading from "./ProgramCareersHeading";
import ProgramGlanceCopy from "./ProgramGlanceCopy";

type Props = {
  left?: string;
  right: string;
  body?: string;
};
const { left, right, body } = Astro.props;
// console.log(right);
---

<script define:vars={{ right }}>
  console.log(right);
</script>
<div id="programs-of-study" class={`relative `}>
  <div class="flex
  text-[1.438rem]
  inner-body-copy-white
  flex-col">
    <div class="">
      {
        left && (
          <div
            id={`programs-of-study-left`}
            class={`${right ? "md:max-w-[45%] lg:max-w-[50%]" : ""}`}
            set:html={left}
          />
        )
      }
    </div>

    <div class="" id={`programs-of-study-body`} set:html={body} />
  </div>
</div>
