<div id="intro" class="inner-width">
  <h1>Explore Undergraduate Programs</h1>
  <p>
    Search by keyword or browse programs by selecting an area of study, degree
    type, and/or format. TCNJ students also have an option to pursue accelerated
    link and dual degrees . link
  </p>
</div>
<div class="overlay"></div>
