<div
  id="intro"
  class="w-[100%] h-[562px] relative overflow-hidden border-[20px] sm:border-[35px] border-b-0 sm:border-b-0 border-tcnjyellow
  
  sm:h-[700px]
  md:h-[450px]"
>
  <div
    class="max-w-[1128px] mx-auto relative z-10 text-white p-[35px] pl-[30px] pr-[30px]
    text-center sm:pt-[77px] md:text-left"
  >
    <div
      id="breadcrumbs"
      class="font-bitter text-[17px] leading-[20px] sm:text-[18px] sm:leading-[26px] sm:text-left"
    >
      <a>Home</a> / Explore Undergraduate Programs
    </div>
    <h1
      class="pt-[100px] font-alfaslab text-tcnjyellow text-[32px] leading-[38px] pb-[10px]
      sm:pt-[150px] sm:text-[55px] sm:leading-[55px] md:text-[60px] md:leading-[65px] md:pt-[85px]"
    >
      Explore Undergraduate Programs
    </h1>
    <p
      class="font-domine text-[20px] leading-[26px] sm:text-[25px] sm:leading-[35px]"
    >
      Search by keyword or browse programs by selecting an area of study, degree
      type, and/or format.
    </p>
  </div>

  <picture id="hero-image" class="absolute top-0 left-0 z-0 w-[100%]">
    <source
      srcset="https://tcnj.edu/custom/undergraduate/img/hero-desktop.jpg"
      type="image/jpeg"
      media="(min-width: 901px)"
    />
    <source
      srcset="
                    https://tcnj.edu/custom/undergraduate/img/hero-tablet.jpg
                  "
      type="image/jpeg"
      media="(min-width: 551px)"
    />
    <source
      srcset="https://tcnj.edu/custom/undergraduate/img/hero-mobile.jpg
                  "
      type="image/webp"
    />
    <img
      src="https://tcnj.edu/custom/undergraduate/img/hero-mobile.jpg"
      alt="TCNJ scenery"
      class="w-[100%] h-[562px] sm:h-[700px] md:h-[450px]
 object-cover"
    />
  </picture>
  <div
    class="bg-black absolute w-[100%] h-[100%] top-0 left-0 z-[5] opacity-[.25]"
  >
  </div>
</div>
