<div
  id="intro"
  class="container lg:mx-auto h-[562px] relative"
  style="background-image: url('path/to/your/image.jpg');"
>
  <div class="max-w-[1128px] mx-auto relative">
    <div id="breadcrumbs" class="font-opensans">
      <a>Home</a> / Explore Undergraduate Programs
    </div>
    <h1>Explore Undergraduate Programs</h1>
    <p class="font-domine text-[20px] leading-[26px]">
      Search by keyword or browse programs by selecting an area of study, degree
      type, and/or format. TCNJ students also have an option to pursue
      accelerated link and dual degrees . link
    </p>
  </div>
  <div id="hero-image" class="absolute top-0 left-0"></div>
</div>
<div class="overlay"></div>
