---
type Props = {
  learnMoreList: {
    title: string;
    slug: string;
    schoolOrAdditionalLabel?: string;
  }[];
  // school: string;
};

const { learnMoreList } = Astro.props;
---

<div
  id="learn-more-list"
  class="grid grid-cols-4 gap-5
  
  sm:pl-[47px]
sm:pr-[47px] md:pl-[20px] md:pr-[20px] lg:pl-0 lg:pr-0"
>
  {
    learnMoreList.map((content) => {
      return (
        <div
          class=" border border-[#BFBFBF]
          w-[280px]"
          id={content.title.replace(/\s+/g, "-").toLowerCase()}
        >
          <a class="p-[35px] pb-[100px] block" href={content.slug}>
            <p class="font-domine font-semibold text-[18px] leading-[28px] ">
              {content.title}
            </p>
            <hr class="m-[25px] mr-0 ml-0" />
            {content.schoolOrAdditionalLabel && (
              <p class="font-opensans">{content.schoolOrAdditionalLabel}</p>
            )}
          </a>
        </div>
      );
    })
  }
</div>
