---
type Props = {
  lowerContent: {
    title: string;
    body: string;
  }[];
};

const { lowerContent } = Astro.props;
---

<div id="lower-content">
  {
    lowerContent.map((content) => {
      return (
        <div id={content.title.replace(/\s+/g, "-").toLowerCase()}>
          <h3>{content.title}</h3>
          <div set:html={content.body} />
        </div>
      );
    })
  }
</div>
