---
type Props = {
  lowerContent: {
    title: string;
    body: string;
  }[];
};

const { lowerContent } = Astro.props;
---

<div id="lower-content">
  {
    lowerContent.map((content) => {
      return (
        <div
          class="border-y border-black mb-[25px]"
          id={content.title.replace(/\s+/g, "-").toLowerCase()}
        >
          <h3 class="font-bold pt-[25px]">{content.title}</h3>
          <div class="pb-[25px]" set:html={content.body} />
        </div>
      );
    })
  }
</div>
