---
import Accordion from "./Accordion";

type Props = {
  lowerContent: {
    title: string;
    body: string;
  }[];
};

const { lowerContent } = Astro.props;
---

<div id="lower-content">
  {
    lowerContent.map((content) => {
      return (
        <div
          class="border-b border-black mb-[25px] "
          id={content.title.replace(/\s+/g, "-").toLowerCase()}
        >
          <Accordion
            startOpen={false}
            header={content.title}
            idName={content.title}
            client:load
          >
            <div class="pb-[25px]" set:html={content.body} />
          </Accordion>
        </div>
      );
    })
  }
</div>
