---
type Props = {
  heading: string;
  imgSrc: string;
  school?: string[];
  department?: any;
};

let schoolLink: string;
// let secondSchoolLink: string;
const { heading, imgSrc, school, department } = Astro.props;
console.log(department);
---

<div class="flex-row flex items-start gap-[18px] md:gap-[15px] sm:max-w-[33%]">
  <img
    class="w-[26px] h-auto mt-[3px]"
    src={`https://tcnj.edu/custom/icon-library/micro/` + imgSrc + `.svg`}
    alt={`${heading} icon`}
  />
  <div class="flex-col flex md:gap-[5px]">
    <h3
      class="text-[17px] leading-[23px] md:text-[20px] md:leading-[30px]
      font-interstate not-italic uppercase font-extrabold"
    >
      {heading}
    </h3>
    <p class="text-[17px] leading-[23px] md:text-[19px] md:leading-[30px]">
      {
        department && department.length > 0 ? (
          department.map((dept: { deptUrl: string; deptTitle: string }) => {
            return (
              <>
                <a
                  href={dept.deptUrl}
                  class="text-[#006cbf] hover:text-[#004b87] transition-colors duration-200"
                >
                  {dept.deptTitle}
                </a>
                <br />
              </>
            );
          })
        ) : (
          <slot />
        )
      }
    </p>
  </div>
</div>
